.header {
  display: flex;
  background-color: #f0f0f0;
  padding: 1rem 2rem;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  z-index: 1000;

  // Responsive design for smaller screens
  @media (max-width: 768px) {
  }
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  a {
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.navigation {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 5rem;

    li {
      margin-right: 2rem;

      @media (max-width: 768px) {
        margin-top: 0.5rem;
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: #555;
        font-size: 1.5rem;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
